# dependencies
node_modules

# next build
.next
out

# environment
.env
.env.local
.env.production

# supabase
.supabase
.supabase/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# editor
*.swp
*.swo
.vscode

# vercel
.vercel

# typescript
*.tsbuildinfo
